@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@source "../../node_modules/react-smooth-input/dist/**/*.{js,mjs}";

@custom-variant dark (&:is(.dark *));

@layer base {
  @import "./theme.css";

  * {
    @apply border-border outline-ring/50;
  }
  *:not([data-default-transition="false"])
    *:not([data-default-transition="false"]),
  [data-default-transition="true"] {
    transition: 0.16s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  p {
    @apply font-read;
  }
  button:active,
  a:active {
    @apply opacity-80 scale-98;
    transition-duration: 0.08s;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-mono;
  }
}
